@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
 font-family: "Montserrat", sans-serif;
}

li {
 list-style: none;
}
a {
 text-decoration: none;
}

header {
 background: #e7ffc7;
 position: absolute;
 width: 100%;
}

.header-inner-box {
 display: flex;
 justify-content: space-between;
 align-items: center;

 max-width: 1400px;
 width: 100%;
 margin: 0 auto;
 padding: 1em;
}

.logo-wrapper {
 display: flex;
 align-items: center;
 gap: 10px;
}
.logo-text .header,
.logo-text .subheader {
 font-size: 24px;
 font-weight: 700;
 line-height: 0.9em;
 color: #038b3b;
}
.logo-text .subheader {
 font-weight: 400;
}

.header-nav-items {
 display: inline-flex;
 gap: 25px;
 font-size: 22px;
 font-weight: 600;
}
.header-nav-items .nav-item > a {
 padding: 0.5em 0.6em;
 color: #1b4332;
 background-color: hsla(88, 100%, 50%, 0.25);
 /* background: #2d6a4f; */
 border-radius: 10px;
}

.profile-wrapper {
 font-size: 46px;
 color: #1b4332;
}
